* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* header css style */
.header_section {
  height: 850px;
  background-color: #e554731a;
}
.header_container {
  margin: 0px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 97px;
}
.header_text {
  width: 708px;
}
.title_text {
  color: #272727;
  font-size: 70px;
  font-weight: 800;
}
.header_discription {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0px;
}

.primary_btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
}
.header_photo {
  width: 600px;
  height: 650px;
}
/* header css style end */

/* future style start  */
.future_section {
  margin: 150px 100px;
}

.our_future_container h3 {
  color: #272727;
  text-align: center;

  font-size: 40px;

  font-weight: 800;
}

.our_future_container p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.future_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box1 img {
  border-radius: 300px 300px 0px 0px;

}
.box2 img {
  border-radius: 300px 300px 0px 0px;

}
.box3 img {
  border-radius: 300px 300px 0px 0px;

}
.box1 img{
    background-color: #A7216226;
}
.box2 img{
    background-color: #0597A026;
}
.box3 img{
    background-color: #477D1126;
}

.future_container a {
  display: block;
  text-align: center;
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.future_container img{
    width: 300px;
    height: 300px;
    padding: 100px 47px 57px 47px;
    margin: 40px  10px 0px 10px;
}

/* future css end  */

