* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* header css style */
.header_section {
  background-color: #e554731a;
}
.header_container {
  margin: 0px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 97px;
}
.header_text {
  width: 708px;
}
.title_text {
  color: #272727;
  font-size: 70px;
  font-weight: 800;
}
.header_discription {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0px;
}

.primary_btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
}
.header_photo {
  width: 600px;
  height: 650px;
}
/* header css style end */

/* future style start  */
.future_section {
  margin: 100px 100px;
}

.our_future_container h3 {
  color: #272727;
  text-align: center;

  font-size: 40px;

  font-weight: 800;
}

.our_future_container p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.future_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box1 img {
  border-radius: 300px 300px 0px 0px;
}
.box2 img {
  border-radius: 300px 300px 0px 0px;
}
.box3 img {
  border-radius: 300px 300px 0px 0px;
}
.box1 img {
  background-color: #a7216226;
}
.box2 img {
  background-color: #0597a026;
}
.box3 img {
  background-color: #477d1126;
}

.future_container a {
  display: block;
  text-align: center;
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.future_container img {
  width: 300px;
  height: 300px;
  padding: 100px 47px 57px 47px;
  margin: 40px 10px 0px 10px;
}

/* future css end  */

/* hotdeal css start  */
.hotdeal_section {
  background-color: #e554730d;
  height: 450px;
}
.hotdeal_container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  margin: 0px 100px;
}
.hotdeal_container h3 {
  color: #272727;
  font-family: Lato;
  font-size: 40px;

  font-weight: 800;
}
.off {
  color: #e55473;
}
.btn_center {
  margin: 0px 25%;
}
.hotdeal_container p {
  margin: 30px 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.hotdeal_container img {
  width: 300px;
  height: 350px;
  padding: 100px 150px;
}

/* insta style start  */
.insta_section {
  margin: 0px 100px;
}
.insta_text {
  text-align: center;
  margin: 100px 0px 50px 0px;
}
.insta_text h3 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}
.insta_text p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.insta_photo {
  display: flex;
  justify-content: space-around;
}

.box4 img {
  width: 300px;
  height: 350px;
  margin-right: 15px;
}

.box4 {
  margin-bottom: 125px;
}

/* insta style end  */

/* letest deal style start  */
.letest_deal_section {
  margin: 0px 100px;
  margin-bottom: 150px;
}
.letest_deal_container {
  height: 450px;
  background-image: url("Flower\ Asset/Rectangle 9.png");
}
.letest_deal_text {
  text-align: center;
}
.letest_deal_text h3 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.letest_deal_text p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.letest_deal_text input {
  width: 513px;
  padding: 22px;
  border: none;
  border-radius: 8px;
  background: #fff;
  margin-right: 7px;
}

footer {
  height: 450px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #111010;
}
.footer_section {
  text-align: center;
}
.footer_section h3 {
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 30px;
}
.flower {
  color: #e55473;
}
.footer_discus {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}
.all_right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
